@charset "utf-8";

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 840px) {

   /* Table Styles */
   table {
      display: table;
      border: 6px double rgb(124, 110, 4);
      border-collapse: collapse; 
      margin: 50px auto;
      table-layout: auto;
      min-width: 70px;
      width: 100%;
      height: auto;

    
   }
   
   tbody, tr {
      display: table-row;
      background:  #1b1b1b; 
   }

   td {
      display: table-cell;
      border: 1px solid #64ffda;
       font-size: 1.5rem;
      padding: 5px;
      vertical-align: top;
      word-wrap: break-word;
      color: #fff;
      background-image: linear-gradient(to top, #0a0a0a 0%, #048768  100%);
   }
   
   td i {
      font-size: 2rem;
      color: #fff; 
      padding: 0 5px;
   }
   
   td img {
      height: auto;
      max-height: 50px;
      max-width: 100%;
      width: auto;
   }
}

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/

@media only screen and (max-width: 839px) {

   /* Table Styles */

   .about__table{

      padding: 3rem;
   }
   table {
      display: block;
      border: 6px double rgb(124, 110, 4);
      border-collapse: collapse; 
      margin: 50px auto;
      table-layout: auto;
      width: 100%;
      height: auto;
      
   }
   
   tbody, tr {
      display: block;
   }

   td {
      display: block;
      border: 1px solid #64ffda;
      font-size: 1.6rem;
      padding: 10px;
      vertical-align: top;
      word-wrap: break-word;
      color: #fff;
      background-image: linear-gradient(to top, #0a0a0a 0%, #048768  100%);
   }
   
   td i {
      font-size: 1.6rem;
      color: #fff; 
      padding: 0 5px;
   }
   
   td img {
      height: 35px;
      max-height: 100%;
      max-width: 100%;
      width: 30px;
   }
}

@media only screen and (max-width: 688px) {
   td img {
      height: 35px;
      width: 30px;
   }
}

@media only screen and (max-width: 833px) {
   td i {
      font-size: 1.6rem;
   }
   td img {
      height: auto;
      max-height: 35px;
      width: 30px;
   }
}

@media only screen and (min-width: 1064px) {

   table {
    

      max-width:900px ;
   }
   td i {
      font-size: 3.6rem;
   }
   td img {
      height:auto;
      max-height: 70px;
      width: 50px;
   }
}
